$mainBlue: #2f5572;
$mainOrange: #d59541;

body{
    font-family: 'Roboto', sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

a{
    color: $mainOrange;
}