.feature-item{
    padding-left: 94px;
    position: relative;

    &__icon{
        position: absolute;
        left: 0;
    }

    &__title{
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 0.8rem;
    }
}