$mainOrange: #d59541;

.generic-content-container{

    p{
        font-size: 0.8rem;
        line-height: 1.1;
        font-weight: 300;
        margin: 0 0 1rem 0;

        @mixin atSmall{
            font-size: 0.9rem;
            line-height: 1.2;
            padding-bottom: 0.6rem;
            word-spacing: 0.4rem;
        }
        @mixin atMedium{
            font-size: 1rem;
            line-height: 1.65;
            font-weight: 300;
            margin: 0 0 1.8rem 0;
            word-spacing: 0.5rem;
        }

        & > a {
            font-weight: 700;
            color: $mainOrange;
            text-decoration: none;
        }
    }
}