$mainBlue: #2f5572;
$mainOrange: #d59541;

.page-section{
    padding: 1.2rem 0;

    @mixin atSmall{
        padding: 3rem 0;
    }

    &--blue{
        background-color: $mainBlue;
        color: white;
     }
}