$mainBlue: #2f5572;
$mainOrange: #d59541;

.page-section{
    padding: 0.6rem 0;

    @mixin atSmall{
        padding: 3rem 0;
    }

    @mixin atMedium{
        padding: 4.5rem 0;
    }

    &--blue{
        background-color: $mainBlue;
        color: white;
     }

    &--no-b-padding-until-medium{
        padding-bottom: 0;

        @mixin atMedium{
            padding-bottom: 4.5rem;
        }
     }

    &--testimonials{
        background-color: #e0e6ef;

        @mixin atMedium{
            background: url("/assets/images/testimonials-bg.jpg") top center no-repeat;
            background-size: cover;
        }
    }

}