$mainBlue: #2f5572;
$mainOrange: #d59541;


.section-title{
    font-size: 2rem;
    font-weight: 200;
    text-align: center;

    @mixin atMedium{
        font-size: 3.75rem;
    }

    &--blue{
         color: #2f5572;
    }


    &__icon{
        margin-right: 0.5rem;
        max-width: 2.5rem;

        @mixin atMedium{
            max-width: unset;
            margin-right: 0.2rem;
            position: relative;
            top: 8px;

            &--testimonials{
                margin-right: 1.7rem;
            }
        }
    }
}