$mainBlue: #2f5572;
$mainOrange: #d59541;

.site-footer{
    background-color: $mainBlue;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;

    &__text{
        display: block;
        margin-bottom: 2rem;
        font-weight: 200;

        @mixin atMedium{
            display: inline;
            margin-right: 2rem;
        }
    }
}