.wrapper{
    padding-left: 4px;
    padding-right: 4px;
    max-width: 1236px;
    margin: auto;
    overflow: hidden;

    .wrapper{
        padding-left: 0;
        padding-right: 0;
    }

    @mixin atSmall{
        padding-left: 18px;
        padding-right: 18px;
    }

    @mixin atMedium{
        padding-left: 60px;
        padding-right: 60px;
    }

    &--wrapper-medium{
        max-width: 976px;
    }

    &--b-margin{
        margin-bottom: 1rem;
        @mixin atSmall{
            margin-bottom: 3rem;
        }
    }

    &--no-padding-until-medium{
        padding-left: 0;
        padding-right: 0;

        @mixin atMedium{
            padding-left: 60px;
            padding-right: 60px;
        }
     }

    &--no-padding-until-large{
        padding-left: 0;
        padding-right: 0;

        @mixin atLarge{
            padding-left: 60px;
            padding-right: 60px;
        }
    }
}